<div class="w-full h-full bg-pattern flex flex-col items-center justify-center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-md">
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/demo/logo.svg">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Bienvenido nuevamente</h2>
      <h4 class="body-2 text-secondary m-0">Inicia sesi&oacute;n a continuaci&oacute;n.</h4>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-6 flex flex-col gap-4">
      <div class="flex flex-col">
        <mat-form-field class="flex-1">
          <mat-label>E-Mail</mat-label>
          <input formControlName="email" matInput required>
          <mat-error *ngIf="form.get('email').hasError('required')">El E-mail es requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="flex-1">
          <mat-label>Contraseña</mat-label>
          <input [type]="inputType" formControlName="password" matInput required>
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Mostrar" type="button">
            <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
            <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
          </button>
          <mat-hint>Haga clic en el ojo para mostrar</mat-hint>
          <mat-error *ngIf="form.get('password').hasError('required')">Debe ingresar su contraseña.</mat-error>
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between">
        <mat-checkbox class="caption" color="primary">Recordarme</mat-checkbox>
        <a [routerLink]="['/forgot-password']" class="caption">Recuparar contraseña?</a>
      </div>

      <button [disabled]="form.invalid" color="primary" mat-raised-button type="button">
        ACCEDER
      </button>

      <p class="text-secondary text-center">
        No tienes una cuenta?<br/>
        <a [routerLink]="['/register']">Clic aqu&iacute; para crear una</a>
      </p>
    </form>
  </div>
</div>
